* {box-sizing: border-box;}

.header{
  overflow:hidden;
  background-color:black;
  padding:20px;
}

  .logo{
display:inline-block;  
width:100px;   


}

.buttons{
  display:block;
  justify-content:space-around;
  font-size:25px;
  text-decoration: none;
  color:white;
  font-family: 'Monofett', cursive;
  text-align:center;
  float:right;
  padding:12px;
  line-height: 25px;
  border-radius:4px;
}

a{
  display:block;  
 justify-content:space-around;
 font-size:25px;
 text-decoration: none;
 color:white;
  font-family: 'Monofett', cursive;
  text-align:center;
  float:right;
 padding:12px;
 line-height: 25px;
 border-radius:4px;
}

body {
  font-family: 'Song Myung', serif;
  background-color: white;
  font-size:25px;
}

.button{
  border-color: transparent;
  background-color: transparent;
  font-size:25px;
  font-family: 'Song Myung', serif;
  padding:20px;
}

.bottom{
    display:flex;
    justify-content:center;
    padding:10px;
    overflow:hidden;
    padding-left:400px;
    padding-right:400px;
    background-color: black;
    color:white;
    font-family: 'Song Myung', serif;
    font-size:25px;
}
